<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fisei.e.app_ventas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APP_VENTAS">
        <activity
            android:name=".FacturacionActivity"
            android:exported="false" />
        <activity
            android:name=".ListaProductosMain"
            android:exported="false" />
        <activity
            android:name=".ComprasMain"
            android:exported="false" />
        <activity
            android:name=".RegistrarseMain"
            android:exported="false" />
        <activity
            android:name=".Producto1Main"
            android:exported="false" />
        <activity
            android:name=".VentaMain"
            android:exported="false" />
        <activity
            android:name=".ClienteMain"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>